:root {
  --primary-text-color: #212121;
  --secondary-text-color:  #757575;
  --accent-color: #2196f3;
  --bg-section-color: #2F303A;
  --secondary-section-color: #F5F4FA;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000;
  --text-overall-color: #FFF;
  
}
/* цвет  вторичный   #212121 */
/* цвет  основной   #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* адрес в футере rgba(255, 255, 255, 0.6) */
/* дополнительный цвет фона  #F5F4FA */
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  background-color: var(--text-overall-color);
  color: var(--secondary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
 
}
.list {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;

  display: flex;
  align-items: center;
}
/* ***************************reset****************** */
h1,h2,h3,h4,h5,h6,p,ul,ol{  margin: 0;}
ul{padding-left: 0;}
/* *********************header************************ */
.header-nav{
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}

/*********** site-nav *********/
.site-nav{
  display: flex;
  margin-left: 95px;
}
.site-nav-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0px;
  display: block;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav .current-page {
  color: var(--accent-color);
}
.site-nav li:not(:last-child), .auth-nav li:not(:last-child){
margin-right: 50px;
}
/* *********auth-nav***** */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav-link {
  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}
/* *********hero************** */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--text-overall-color);
  
}
.hero-section{
background-color: var(--bg-section-color); 
}
/* ****hero button***** */
.hero-btn{
  background-color: var(--accent-color);
  color: var(--text-overall-color);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* ******section***** */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* ********features******* */
.features-list .title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}
.features-description{
  line-height: 1.71;
}
/* *********team****** */
.team-list .title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
   text-align: center;
}
.team-description {
  font-size: 16px;
  line-height: 1.19;
   text-align: center;
}
.our-team{
  background-color: var(--secondary-section-color);
}

/* ****************************footer***************************************** */
.foot {
  color: var(--text-overall-color);
  
}

.address-link {
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--address-link-color);
 
}
.foot-address .maps-link{
  color: var(--text-overall-color);
}
.footer{
  background-color: var(--bg-section-color); 
}
.address-link:hover,
.address-link:focus{
  color: var(--accent-color);
}
/* ***********************************portfolio************************************************ */
.portfolio-btn {
  color: var(--primary-text-color);
  background-color: var(--secondary-section-color);

  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--text-overall-color);
  background-color: var(--accent-color);
}
/* ****************works list**************** */
.works-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}
.works-description {
  font-size: 16px;
  line-height: 1.9;
}
/* ---------------------hiiden element---------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}